.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.button {
  margin-left: 60px;
  margin-top: 20px;
}

.save {
  margin-right: 8px;
}

.background-forms {
  background: rgb(2,0,36);
  background: linear-gradient(120deg, #fddb92 0%, #d1fdff 100%);
  min-height: 100%;
  padding: 20px;
}
.search-input {
  width: 300px;
  margin-left: 800px;
}

.div-block {
  margin: 10px 0px -30px 20px;
}
