<div class="background-forms">

  <div class="div-block">

    <button class='button' nz-button [nzType]="'primary'" (click)="showModal()"><span>Добавить</span></button>

    <nz-input-group class="search-input"  nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search" (click)="search()"></i></button>
    </ng-template>
    <br />
    <br />

  </div>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Введите информацию о добавляемой мебели:"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="addFurniture(newTitle, newDescription, newTypeOfFurniture, newPrice, newMaterial);
                    newTitle='';newDescription='';newTypeOfFurniture='';newPrice=0;newMaterial=''">
    <ng-container *nzModalContent>
      <input placeholder="Название" [(ngModel)]="newTitle" />
      <p></p>
      <input placeholder="Производство" [(ngModel)]="newDescription" />
      <p></p>
      <input placeholder="Тип мебели" [(ngModel)]="newTypeOfFurniture" />
      <p></p>
      <input placeholder="Цена (число)" [(ngModel)]="newPrice" />
      <p></p>
      <input placeholder="Материал" [(ngModel)]="newMaterial" />
      <p></p>
    </ng-container>
  </nz-modal>

  <br />
  <br />
  <nz-table #editRowTable nzBordered  [nzData]="items" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="15%">Название</th>
        <th nzWidth="20%">Производство</th>
        <th nzWidth="15%">Тип мебели</th>
        <th nzWidth="10%">Цена (б.р.)</th>
        <th nzWidth="15%">Материал</th>
        <th>Редактирование</th>
        <th>Удаление</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <ng-container *ngIf="!editCache[data.id.toString()].edit; else editTemplate">
          <td>{{ data.title }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.typeOfFurniture }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.material }}</td>
          <td><a (click)="startEdit(data.id)">Edit</a></td>
          <td>
            <a nz-popconfirm nzPopconfirmTitle="Хотите удалить?" (nzOnConfirm)="deleteFurniture(data.id)">Delete</a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id.toString()].data.title" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id.toString()].data.description" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id.toString()].data.typeOfFurniture" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id.toString()].data.price" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id.toString()].data.material" /></td>
          <td>
            <a (click)="saveEdit(data.id)" class="save">Save</a>
            <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
          </td>
        </ng-template>

      </tr>
    </tbody>
  </nz-table>
</div>
